<!doctype html>
<html>

<head>
    <title>ShallWeDance</title>
    <link rel="stylesheet" href="css/cssprogress.min.css" />
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>

    </style>
</head>

<body>
    <main>
        <div id="parallax1" class="parallax-container">
            <div class="parallax">
                <div class="row">
                    <!-- <div class="col s6">
                        <h1>Shall We Dance</h1>
                    </div> -->
                </div>
                <img src="img/bg6-1.jpg" >
            </div>
        </div>
        <div class="section white">
            <div class="container">
                <h2 class="header">koi dance-恋ダンス</h2>
                <div id="loading" class="grey-text text-darken-3 lighten-3">
                    Loading the model...
                </div>
                <div class="row">
                    <div class="col s6">
                        <div id="main" style="display:none">
                            <video id="video" playsinline style=" -moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);display: none;">
                            </video>
                            <canvas id="output"></canvas>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="main_video">
                            <!-- <video width="400" id="koi_video" controls> -->
                             <video id="koi_video" width="400">
                                <source src="/video/gakki_final.mp4" type="video/mp4"/>
                             </video>
                         </div>
                         <p>
                         <div class="row">
                             <div class="col s5">
                                 <video id="koi_video_tag" width="150">
                                    <source src="/video/tag_gakki.mp4" type="video/mp4"/>
                                 </video>
                             </div>
                             <div class="col s7">
                                    <p>
                                     <div class="row">
                                         <div class="col s3">
                                             <a class="waves-effect waves-light btn deep-purple lighten-3" onclick="play_koi();">
                                                 <i class="material-icons">play_arrow</i>
                                             </a>
                                         </div>
                                         <div class="col s3">
                                             <a class="waves-effect waves-light btn deep-purple lighten-3" onclick="pause_koi();">
                                                 <i class="material-icons">pause</i>
                                             </a>
                                         </div>


                                         <div class="col s6">
                                             <a class="waves-effect waves-light btn modal-trigger deep-purple lighten-3" onclick="modal_click()" href="#modal1">Analyse</a>
                                             <!-- Modal Structure -->
                                                <div id="modal1" class="modal" style="width: 800px; height: 1000px; max-height: 90%;">
                                                    <div class="modal-content" style="padding-top: 0; padding-left: 0; padding-bottom: 0; padding-right: 0;">
                                                        <!-- <div class="row" style="margin-left: 0; margin-right: 0;"> -->
                                                            <!-- <div class="col s5"> -->
                                                            <div class="video_content">
                                                                <br/>
                                                                <div class="row">
                                                                <!-- <div style="text-align: center;"> -->
                                                                <div class="col s6 offset-s1">
                                                                    <video id="video_crop" width="400" controls>
                                                                        <source src="/video/gakki_new3.mp4" type="video/mp4"/>
                                                                    </video>
                                                                </div>
                                                                    <div class="col s4">
                                                                        <canvas id="r_myChart" width="450!important" height="400!important" ></canvas>
                                                                    </div>
                                                                </div>
                                                                <div class="row">

                                                                    <div class="col s7 offset-s2" >
                                                                        <!-- <div style="border-top: 5px solid #ecedf1"> -->
                                                                            <h6 class="header" style="margin-bottom:5px">Pose Suggestions:</h6>
                                                                            <!-- <div class="grey-text text-darken-2"> -->
                                                                            <div style="color:#aaaaaa">
                                                                                <ur>
                                                                                <li>Whether the shot should be from below, above or equal height. </li>
                                                                                <li>Direction of knees and feet</li>
                                                                                <li>Be careful of making the shot too crotch-centric. You can use a hand or leg thrown casually in the foreground to stop this.</li>
                                                                               </ur>
                                                                            </div>
                                                                        <!-- </div> -->
                                                                    </div>
                                                                    <!-- <div class="col s4">
                                                                        <canvas id="r_myChart" width="450!important" height="400!important" ></canvas>
                                                                    </div> -->
                                                                    <div style="text-align: center;">
                                                                        <canvas id="myChart" width="700px!important" height="200px"></canvas>
                                                                    </div>
                                                                    <!-- <canvas id="r_myChart" width="750!important" height="200"></canvas> -->
                                                                </div>
                                                            </div>
                                                            <!-- </div> -->


                                                        <div style="background: #f2f2f2; padding: 2px 2px;">
                                                            <div style="text-align: center;">
                                                                <!-- <h6 class="grey-text text-darken-2">You may like...</h6> -->
                                                                <h6 class="header" style="color:#aaaaaa">You may like...</h6>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col s3">
                                                                    <img src="img/shirt.jpg" style="width:100%;" onclick="window.open('https://www.mercari.com/us/item/m18994853651/?ref=search_results');">
                                                                    <p><span class="color-name">Authentic Burberry White Tee SzS</span><br/>
                                                                        <span class="color-price">$80.00</span></p>
                                                                </div>
                                                                <div class="col s3">
                                                                    <img src="img/skirt.jpg" style="width:100%;" onclick="window.open('https://www.mercari.com/us/item/m77720537950/?ref=search_results');">
                                                                    <p><span class="color-name">skater Skirt lush red</span><br/>
                                                                    <span class="color-price">$15.00</span></p>
                                                                </div>
                                                                <div class="col s3">
                                                                    <img src="img/shoes.jpg" style="width:100%;" onclick="window.open('//https://www.mercari.com/us/item/m54131812655/?ref=search_results');">
                                                                    <p><span class="color-name">New Balance 810</span><br/>
                                                                    <span class="color-price">$17.00</span></p>
                                                                </div>
                                                                <div class="col s3">
                                                                    <img src="img/wig1.jpg" style="width:100%;" onclick="window.open('https://www.mercari.com/us/item/m88688756040/?ref=search_results');">
                                                                    <p><span class="color-name">26" Wig Caramel with Black Roots| Mia</span><br/>
                                                                    <span class="color-price">$69.00</span></p>
                                                                </div>
                                                            </div>
                                                        </div>

                                         </div>
                                         <!-- <div class="modal-footer">
                                             <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                                         </div> -->
                                     </div>
                                 </div>
                             </div>
                         </p>
                         <p><h5 id="similarity">Pose Distance: </h5></p>
                             </div>
                         </div>
                     </p>

                    </div>
                </div>
                <p>
                    <div class="cssProgress">
          <div class="progress2">
            <div id = "score_bar" class="cssProgress-bar cssProgress-success cssProgress-active" data-percent="0" style="width: 0%; transition: none 0s ease 0s;">
              <span class="cssProgress-label">0%</span>
            </div>
          </div>
        </div>
                </p>
                <!-- <p><h5 id="sim">Similarity: </h5></p>
                <p><h5 id="sim1">Similarity: </h5></p> -->
                <!-- <p class="grey-text text-darken-3 lighten-3">
                    Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.
                </p> -->
            </div>
        </div>
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large deep-purple lighten-3" onclick="window.open('https://experiments.withgoogle.com/collection/ai/move-mirror/view/mirror');">
            <i class="large material-icons">format_quote</i>
          </a>
        </div>

        <div class="parallax-container">
            <div class="parallax">
                <img src="img/bg5-2.jpg" height=200px>
            </div>
        </div>
    </main>

    <script type="text/javascript" src="js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/tf.min.js"></script>
    <script type="text/javascript" src="js/posenet.min.js"></script>
    <script type="text/javascript" src="js/dat.gui.js"></script>
    <script type="text/javascript" src="js/demo_util.js"></script>
    <script type="text/javascript" src="js/stats.min.js "></script>
    <script type="text/javascript" src="js/camera.js"></script>
    <script type="text/javascript" src="js/similarity.js"></script>
    <script type="text/javascript" src="js/math.min.js"></script>
    <script type="text/javascript" src="js/Chart.js"></script>

    <script>
        var dance_score_cnt = 0;
        var json_data;
        var keypoints = 12;
        var imageScaleFactor = 0.5;
        var outputStride = 16;
        var flipHorizontal = false;

        var video_keypoints_id = [9, 7, 5, 6, 8, 10, 11, 12, 13, 14, 15, 16];
        var flash_keypoints_id = [7, 6, 5, 2, 3, 4, 11, 8, 12, 9, 13, 10];
        var video_vec = [];
        var video_score_vec = [];
        var scores = [];

        var flash_start_flag = false;
        var flash_is_running = false;
        var koi = document.getElementById("koi_video");
        var koi_tag = document.getElementById("koi_video_tag");
        var gan = document.getElementById("video_gan");
        var crop_gan = document.getElementById("video_crop");
        var similarity_text = document.getElementById("similarity");
        var detect_pose_flag = false;

        var left_arm = 0;
        var left_leg = 0;
        var right_arm = 0;
        var right_leg = 0;
        var body = 0;
        function modal_click() {
            console.log("body: "+body);
            var ctx = document.getElementById("myChart");
            var r_ctx = document.getElementById("r_myChart");

            var myRadarChart = new Chart(r_ctx, {
                responsive: false,
                type: 'radar',
                data: {
                    labels: ['Body', 'Right Arm', 'Right Leg', 'Left Leg', 'Left Arm'],
                    datasets: [{
                            data: [body * 100. / 4, right_arm * 100. / 2, right_leg * 100. / 2, left_leg * 100./ 2, right_arm * 100. / 2],
                            fill:true,
                            backgroundColor:"rgba(255, 99, 132, 0.2)",
                            borderColor:"rgb(255, 99, 132)",
                            pointBackgroundColor:"rgb(255, 99, 132)",
                            pointBorderColor:"#fff",
                            pointHoverBackgroundColor:"#fff",
                            pointHoverBorderColor:"rgb(255, 99, 132)"
                        }]
                },
                options: {
                    legend: {
                        display: false
                    }
                }
            });

            var label = [];
            for(let i = 1; i < 100; i++) {
                label.push(i);
            }
            var myLineChart = new Chart(ctx, {
                responsive: false,
                type: 'line',
    			data: {
    				// labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    labels: label,
    				datasets: [{
    					// label: 'My First dataset',
    					// backgroundColor: window.chartColors.red,
    					// borderColor: window.chartColors.red,
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
    					data: scores,
    					fill: false,
    				}]
    			},
    			options: {
                    legend: {
                        display: false
                    },
    				responsive: true,
    				title: {
    					display: true,
    					text: 'Score Line Chart'
    				},
    				tooltips: {
    					mode: 'index',
    					intersect: false,
    				},
    				hover: {
    					mode: 'nearest',
    					intersect: true
    				},
    				scales: {
    					xAxes: [{
    						display: true,
    						scaleLabel: {
    							display: true,
    							labelString: 'Second'
    						}
    					}],
    					yAxes: [{
    						display: true,
    						scaleLabel: {
    							display: true,
    							labelString: 'Score'
    						}
    					}]
    				}
    			}
            });
        }
        $(document).ready(function(){
            $('.parallax').parallax();
            $('.modal').modal();
            setInterval(function() {
                if(flash_is_running) {
                    let flash_vec = get_flash_vec();
                    let sim_score = weightedDistanceMatching(video_vec, flash_vec, video_score_vec);
                    let dance_score = 0;
                    if (sim_score < 0.8) {
                        dance_score = 1 - sim_score;
                        dance_score_cnt += dance_score;
                    }

                    scores.push(dance_score);
                    let percent = dance_score_cnt;
                    similarity.innerHTML = "Pose Distance: " + sim_score + " " +dance_score_cnt;
                    $("#score_bar").css('width', percent+'%');
                    $("#score_bar").text(percent+'%');
                }

                // score_bar.animate({
                //     width: percent
                // }, {
                //     duration: 100,
                //     step: function(x) {
                //         progress_label.text(Math.round(x) + '%');}
                //     });
                // console.log(flash_vec);
                // document.getElementById("sim1").innerHTML = flash_start_flag + " "+flash_is_running;
                if (flash_start_flag && !flash_is_running) {
                    koi.play();
                    koi_tag.play();
                    flash_is_running = true;
                }
                if (!flash_start_flag && flash_is_running) {
                    koi.pause();
                    koi_tag.pause();
                    flash_is_running = false;
                }
            }, 1000);
            setTimeout(function(){
                detect_pose_flag = true;
                console.log(detect_pose_flag)
            }, 10000);
        });

        $.getJSON("json/koi.json", function(json) {
            json_data = json;
        });

        function play_koi() {
            koi.play();
            koi_tag.play();
        }

        function pause_koi() {
            koi.pause();
            koi_tag.pause();
        }

        function play_gan() {
            gan.play();
            crop_gan.play();
        }

        function pause_gan() {
            gan.pause();
            crop_gan.pause();
        }









    </script>
</body>
</html>
